header{
    background-color:#808088;
}
h1{
    text-align: center;
    color: #ffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    font-variant-caps: all-petite-caps;
}
h2{
    color: rgb(5, 5, 155);
    font-family: 'Times New Roman', Times, serif;
    font-size: 250%;
    font-variant-caps: all-petite-caps;
}
section{
    background-color: #808080;
}
.active{
    text-decoration-color: #000000;
    color: #000000;
    background-color: rgb(153, 153, 149);
}
.left{
    display: none;
}